
@font-face {
    font-family: 'mcfoo';
    src: url('MyUnderwood.ttf');
}

body {
 	font-family: 'Roboto', sans-serif;font-family:
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4c88ef), color-stop(100%, #17e4d9));
    background: -webkit-linear-gradient(-45deg, #4c88ef 0%, #17e4d9 100%);
    background: -webkit-linear-gradient(315deg, #4c88ef 0%, #17e4d9 100%);
    background: linear-gradient(135deg, #4c88ef 0%, #17e4d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c88ef', endColorstr='#17e4d9', GradientType=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
  }  

.title {
	font-size: 6em;
	color: black;
	font-family: 'mcfoo';
	text-align: center;
	font-weight: bolder;
 }

.wrapper{
	margin-top: 3%;
	text-align: center;
}

.header {
	margin-top: 10%;
}

#heading {
	font-size: 2em;
	text-align: center;
}

.content {
	margin-top: 2%;
	text-align: center;
}

.social {
	margin-top: 5%;
	text-align: center;
}

.meta {
	margin-top: 5%;
	text-align: center;
}

.typeform-share {
	margin-left: 10%;
}

.footer {
	text-align: center;
	font-size: 1.5em;
	position:fixed;
	float: right;
    bottom:0px;
    left:0px;
    right:0px;
    height:50px;
    margin-bottom:0px;
}

h5 {
	margin-top: 0px !important;
	margin-bottom: 5px !important;
}

@media (max-width: 480px) { 
    .title {
      font-size: 4em;
      display: block;
      text-align: center;
    }

   	#heading {
   		font-size: 1.5em;
      	display: block;
      	text-align: center;
    }

    .footer {
		text-align: center;
		font-size: 1em;
		margin-top: 5%;
		/*display: table;*/
		position: relative;
		/*clear: both;*/
	}

}